{
    // "plugins": [["@babel/plugin-proposal-class-properties", { "loose": true}]], //npm install --save-dev @babel/plugin-proposal-class-properties
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ]
 }